@model Coal.Client.Models.UserViewModel

<p>@Model.Name's Profile</p>

<p>Model Id #@Model.Id</p>

<form action="/User/Library" method="get">
  <button type="submit" name="lib" value="@Model.UserLibrary">Display User Library</button>
</form>

<form action="/Store/Catalog" method="get">
  <button type="submit" name="lib" value="@Model">Go to Marketplace</button>
</form>
