@model Coal.Client.Models.UserViewModel

<p>@Model.Name's Profile</p>

<p>Model Id #@Model.Id</p>

<form action="User/Library" method="POST">
    <input type="submit" value="Display Game Library">
</form>