@model Coal.Client.Models.GameViewModel

<div class="text-center">
    <h1>Create New Game</h1>
</div>

<form action="/publisher/sendnewgame" method="post">
  <label name="name">Title:</label>
  <input type="text" name="name" value="@Model.Name">

  <br>

  <label name="description">Description:</label>
  <input type="text" name="description" value="@Model.Description">

  <br>

  <label name="price">Price:</label>
  <input type="number" name="price" value="@Model.Price">

  <br>
  
  <button type="submit">Submit Game</button>
</form>