@model Coal.Client.Models.PublisherViewModel

<p>@Model.Name's Profile</p>

<p>Model Id #@Model.Id</p>

<form action="/publisher/new" method="get">
  <button type="submit" name="pub" value="@Model">Create Game</button>
</form>

<form action="/publisher/select" method="get">
  <button type="submit" name="pub" value="@Model">Edit Game</button>
</form>