@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Coal</h1>
    <p>Choose the proper login</p>
</div>

<h5>User Login</h5>
<form class="text-center" action="/home/userlog" method="POST">
    <button type="submit">Go to User Login</button>
</form>

<h5>Publisher Login</h5>
<form class="text-center" action="/home/publog" method="POST">
    <button type="submit">Go to Pubisher Login</button>
</form>